:root {
  --teal900: #085d50;
  --teal700: #028577;
  --teal600: #3ea992;
  --teal500: #89d1c7;
  --teal100: #f1fbf9;
  --blue100: #4bb7c3;
  --green: #41b0c0;
  --transparent: #00000000;  /* Corrected variable name */
  // --green700: #78c99e;
  // --green400: #a8e6bd;
  // --green200: #c7efd3;
  // --green100: #e3f8ec;
  --grey900: #282b36;
  --grey600: #66738a;
  --grey500: #9faabe;
  --grey400: #d4dae3;
  --grey200: #f3f6fb;
  --grey100: #fbfcfd;
  --overlay: rgba(36, 39, 48, 0.5);
  --red700: #d02620;
  --red400: #f58282;
  --greydark: #454949;
  // --brightGreen700: #037a0f;
  // --brightGreen400: #a6f7ae;
  --cyan700: #03a6ca;
  --cayn400: #4fdbfa;
  --blue200: #e9f3ff;
  --blue700: #0669e1;
  --grey1: #333333;
  --brown700: #aa5f04;
  --brown900: #7e4c0e;
  --info: var(--green);
  --success: var(--brightGreen700);
  --warning: var(--orange700);
  --error: var(--red700);
  --labels: var(--green);
  --iconDefault: var(--grey500);
  --btnDisabled: var(--grey400);
  --inputDefault: var(--grey400);
  --inputDisabled: var(--grey100);
  --screenBackground: var(--grey100);
  --btnHoverPrimary: var(--transparent);
  --btnPrimary: var(--blue100);
  --brandColor: var(--blue100);
  --btnSecondary: white;
  --iconActive: var(--blue100);
  --inputActive: var(--green);
  --fontColor: var(--greydark);
  --border: var(--grey200);
  --checkbox: var(--green);
  --tooltipFont: var(--green);
  --modalPrimary: white;
}
