.displayHider{
    display: none;
}
.displayShower{
display: block;
}

#dynamic-container{
    position: absolute;
    width: 75vw;
    background-color: var(--grey100);
    left: 25vw;
    height: 100%;
    top: 0vw;
}